/* ================= TABLET ================= */

@media (max-width: 992px) {

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #hero h1 {
        font-size: 40px;
    }
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: var(--dark-color);
        width: 60%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        display: none;
        padding-top: 40px;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    section {
        padding: 40px 20px;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    #hero h1 {
        font-size: 30px;
    }

    #hero p {
        font-size: 18px;
    }
}

/* ================= SMALL MOBILE ================= */

@media (max-width: 480px) {

    .logo {
        font-size: 20px;
    }

    #hero h1 {
        font-size: 24px;
    }
}
